<!--<li ng-click="ruleCtrlSimp.selectRule(ruleInfo.Primary)">-->
<li ng-click="clickFunc([ruleInfo.Primary],'selectRule')">
    <table>
        <tbody>
            <tr ng-class="{primarySelected: ruleInfo.Primary.Selected}" class="primary">
                <td  style="padding: 0px; white-space: nowrap; margin: 0%; max-width: 600px" class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                    <span style="margin-right: 15px;">If</span>
                    <tag-editor ng-attr-id="{{ruleInfo.Primary.u_id}}" rule-pointer="ruleInfo.Primary" rule-container="ruleInfo.Primary.Rule"></tag-editor>
                </td>
                <td class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                    <span style="white-space:nowrap;">appears, then score</span>
                <td class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                    <input style="width: 100px;" type="number" class="form-control" ng-model="ruleInfo.Primary.Score">
                </td>
                <td class="col-xl-1 col-lg-1 col-md-1 col-sm-1" class="dropdown">
                        <span style="color: green;" class="close dropdown" data-toggle="dropdown">
                            +
                        </span>
                        <ul class="dropdown-menu drop-override" style="cursor: pointer">
                            <li><a ng-click="clickFunc([ruleInfo, 'Ignore', $event], 'addSecondaryRule')">Ignore Rule</a></li>
                            <li><a ng-click="clickFunc([ruleInfo, 'Replace', $event], 'addSecondaryRule')">Replace Rule</a></li>
                            <li><a ng-click="clickFunc([ruleInfo, 'Add', $event], 'addSecondaryRule')">Add Rule</a></li>
                        </ul>
                </td>

                <td class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                    <span ng-click="clickFunc([ruleInfo], 'deletePrimary')" style="color: red;" class="close" aria-hidden="true">&times;</span>
                </td>
            </tr>
            <!-- <tr ng-show="ruleInfo.Primary.Selected"class="no-row-style">
                <td></td>
            </tr> -->
        </tbody>
    </table>
</li>