<li ng-click="primaryCtrl.selectRule(ruleInfo.Primary)">
    <table>
        <tbody>
            <tr ng-class="{primarySelected: ruleInfo.Primary.Selected}" class="primary">
                <td style="padding: 0px; white-space: nowrap; max-width: 100; margin: 0%" class="col-md-8">
                    <span style="margin-right: 15px;">If</span>
                    <tag-editor ng-attr-id="{{ruleInfo.Primary.u_id}}" rule-container="ruleInfo.Primary.Rule"></tag-editor>
                    <!--<js-tag js-tag-options="{texts: {inputPlaceHolder: 'Enter a word'}, tags: ruleInfo.Primary.Rule,-->
                    <!--breakCodes: [13],  splitter: ';'}"></js-tag>-->
                    <!--<span ng-repeat="rulePart in ruleInfo.Primary.Rule">-->
                        <!--<rule-object obj="rulePart">-->
                        <!--</rule-object>-->
                        <!--<input class="hidden-input" type="text" ng-keydown="">-->
                    <!--</span>-->
                    <!-- <div style="">
                        <span style="margin-right: 15px;">If</span>
                        <div ng-repeat="rulePart in ruleInfo.Primary.Rule" style="display: inline-block; padding: 10px;">
                            <rule-object obj="rulePart">
                            </rule-object> -->
                            <!-- <input class="hidden-input" style="max-width: 10px;" type="text"> -->
                        <!-- </div>
                    </div> -->
                </td>
                <td class="col-md-2">
                    <span style="white-space:nowrap;">appears, then score</span>
                <td class="col-md-1">
                    <input style="width: 100px;" type="number" class="form-control" ng-model="ruleInfo.Primary.Score">
                </td>
                <td class="col-md-1" class="dropdown">
                        <span style="color: green;" class="close dropdown" data-toggle="dropdown">
                            +
                        </span>
                        <ul class="dropdown-menu drop-override" style="">
                            <li><a ng-click="primaryCtrl.addSecondaryRule(ruleInfo, 'Ignore', $event)">Ignore Rule</a></li>
                            <li><a ng-click="primaryCtrl.addSecondaryRule(ruleInfo, 'Replace', $event)">Replace Rule</a></li>
                            <li><a ng-click="primaryCtrl.addSecondaryRule(ruleInfo, 'Add', $event)">Add Rule</a></li>
                        </ul>
                        <!-- <div style="margin-top: 10px" class="dropdown-menu">
                            <button ng-click="primaryCtrl.addSecondaryRule(ruleInfo, 'Ignore', $event)" class="dropdown-item">Ignore Rule</a>
                            <button ng-click="primaryCtrl.addSecondaryRule(ruleInfo, 'Replace', $event)" class="dropdown-item">Replace Rule</a>
                            <button ng-click="primaryCtrl.addSecondaryRule(ruleInfo, 'Add', $event)" class="dropdown-item">Add Rule</a>
                        </div> -->
                </td>

                <td class="col-md-1">
                    <span ng-click="primaryCtrl.deletePrimary(ruleInfo)" style="color: red;" class="close" aria-hidden="true">&times;</span>
                </td>
            </tr>
            <!-- <tr ng-show="ruleInfo.Primary.Selected"class="no-row-style">
                <td></td>
            </tr> -->
        </tbody>
    </table>
</li>