<div class="container" style="width: 90%">
    <h1 style="text-align: center">Rules</h1>
    <div style="display: inline-block">
        <span ng-repeat="class_name in ruleCtrl.availableVars">
            <button ng-click="ruleCtrl.loadFile(class_name)" ng-if="class_name !== errorCtrl['data']['Negative Label']" class="btn btn-default" ng-class="{'active': ruleCtrl.currentTab === class_name}">
                <div class="cspan" style="cursor: text; min-width: 20px; display: inline-block" contenteditable="true" id="class{{$index}}">{{class_name}}</div>
                <!--<input style="cursor: text" contenteditable="true" ng-model="class">{{class}}</input>-->
            </button>
        </span>
        <span class="close" style="color: green; margin-left: 10px; vertical-align: middle; line-height: 34px;" ng-click="ruleCtrl.createNewClass()">+</span>
    </div>
    <button ng-click="ruleCtrl.saveFile(ruleCtrl.currentTab)" style="float: right" class="btn btn-default">
        Save File
    </button>
    <div style="height: 100%; margin-top: 10px;" id="editor-container">
    </div>
</div>
<script src="javascripts/text-editor.js"></script>

