<div class="container" style="width: 90%">
    <h1 style="text-align: center">Rules</h1>
    <span ng-repeat="(class, colour) in errorCtrl.classes">
        <button ng-click="ruleCtrl.loadFile(class)" ng-if="class !== errorCtrl['data']['Negative Label']" class="btn btn-default" ng-class="{'active': ruleCtrl.currentTab === class}">
            {{class}}
        </button>
    </span>
    <button ng-click="ruleCtrl.saveFile(ruleCtrl.currentTab)" style="float: right" class="btn btn-default">
        Save File
    </button>
    <div style="height: 100%; margin-top: 10px;" id="editor-container">
    </div>
</div>
<script src="javascripts/text-editor.js"></script>

