<div style="position: relative" ng-controller="RuleControllerSimp as ruleCtrlSimp">
    <div style="position: absolute; width: 100%">
        <br/>
        <button ng-click="ruleCtrlSimp.addRule()"type="button" class="btn btn-default add-primary">Add Primary Rule</button>
        <ol class="rectangle-list">
            <!--Primary+Secondary container rule div-->
            <!--{{ruleCtrlSimp.rules}}-->
            <rule ng-repeat="x in ruleCtrlSimp.rules">
                <!--Primary Rule-->
                <primary rule="x" ng-transclude></primary>
                <!--Secondary Rules-->
                <secondary rule="x" ng-transclude></secondary>
            </rule>
        </ol>
    </div>
</div>
