<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta charset="UTF-8">

    <style>
        .with-margin-left {

            margin-left: 20px;
        }

        .with-margin-top {

            margin-top: 30px
        }
        .line-break-and-tab {

            white-space: pre-line;
            word-break: break-all;

        }

    </style>

    <title>Error Report</title>
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <h2 class="text-center"> Smoking Status Error Report</h2>
            </div>
        </div>

        <div class="row">
          <div class="col" style="padding-left: 20px">
              <h3>Patient #ID</h3>
          </div>
        </div>

        <!-- TODO: FIX BUTTON ALIGNMENT -->

        <div class="row">
            <div class="col" style="padding-left: 20px">
                <h3>Misclassifications:</h3>
            </div>
        </div>

        <div class="row with-margin-left">
            <h4 class="inline-block" style="margin-right: 20px;">None
                <div class="btn-group" role="group" >
                    <button type="button" class="btn btn-secondary ">ID #1</button>
                    <button type="button" class="btn btn-secondary ">ID #2</button>
                    <button type="button" class="btn btn-secondary ">ID #3</button>
                </div>
            </h4>
        </div>

        <div class="row with-margin-left">
            <h4 class="inline-block">Non-Smoker
                <div class="btn-group" role="group" >
                    <button type="button" class="btn btn-secondary ">ID #1</button>
                    <button type="button" class="btn btn-secondary ">ID #2</button>
                    <button type="button" class="btn btn-secondary ">ID #3</button>
                </div>
            </h4>
        </div>

        <div class="row with-margin-top">
            <div class="col" style="padding-left: 20px">
                <h4>Classified as smoker</h4>
            </div>
        </div>

        <div class="row">
            <div class="col" style="padding-left: 20px">
                <h4>Score: 20</h4>
            </div>
        </div>

        <div class="row">
            <div class="col line-break-and-tab" style="padding-left: 20px">

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget ultricies risus, finibus bibendum nibh. Sed justo libero, sollicitudin eget dapibus eu, tempor at metus. Etiam blandit tempus congue. Cras ac mi scelerisque, fringilla velit at, imperdiet mi. Duis euismod ex id mauris finibus, in vehicula libero ullamcorper. Aliquam pharetra risus erat, vitae scelerisque tellus ultrices at. Phasellus eget odio mattis, bibendum risus sit amet, fringilla lacus. Proin pellentesque a diam eget imperdiet. Sed iaculis sem nibh, ut dignissim tortor faucibus iaculis. Phasellus ullamcorper auctor sem in auctor. Praesent consectetur porttitor massa, eu pharetra arcu malesuada et. Etiam ut nisl id arcu tincidunt tincidunt.

Nullam sit amet laoreet leo, vel aliquet ante. In luctus nisl elementum venenatis suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec rutrum erat ipsum, in malesuada neque pharetra eu. Fusce mollis odio at felis malesuada, id convallis erat tempor. Donec quis fringilla neque, ullamcorper convallis mi. Sed vel ligula molestie, consectetur massa ut, semper metus. Aenean sapien dolor, pretium non porta a, scelerisque quis turpis. Curabitur sed nunc ac libero luctus facilisis. Phasellus odio orci, mollis nec eleifend eget, vehicula at sapien. Suspendisse magna turpis, dictum ut justo vel, tempor vestibulum mi. Donec ipsum nisl, hendrerit sed dui non, lobortis semper dui. Phasellus ultricies suscipit justo, quis tristique elit maximus in. Morbi eu eros fringilla, tristique lacus vitae, malesuada mauris. Cras convallis odio ut facilisis aliquet.

Quisque fermentum quam et tellus ultrices, sit amet placerat mauris bibendum. Nulla commodo tortor vel nulla posuere lacinia. Ut diam est, cursus in ex hendrerit, faucibus imperdiet tortor. Morbi eget urna quis dui posuere blandit in id augue. Ut ultricies nec sem sed varius. Suspendisse porttitor pretium tortor id pellentesque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla interdum sit amet libero vel dignissim. Ut et est eget ex tempor consectetur sagittis ac ex. Etiam placerat dolor id condimentum luctus. Phasellus ultricies elementum mollis. Proin rhoncus turpis non lacus dapibus laoreet. Aenean mattis sem at vestibulum vestibulum. Praesent et tortor est. Integer in nisi consectetur, scelerisque tortor sed, fringilla nulla. Proin suscipit orci a lobortis tempor.

Proin enim ante, fringilla a sodales in, elementum id sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum libero vitae gravida pretium. Integer tincidunt turpis vitae magna accumsan bibendum. Aenean egestas posuere ante sit amet aliquam. Sed vitae nisi velit. Vestibulum non nisi at dui iaculis accumsan quis volutpat velit. Morbi lobortis, ante nec placerat viverra, quam ligula feugiat magna, eget porta odio lorem sed erat. Ut id urna ex.

Aenean nec nunc dapibus, pellentesque enim vel, feugiat elit. Mauris gravida efficitur ex ac aliquam. Vestibulum dapibus ante et molestie rhoncus. Aliquam id dictum ante. Donec et ullamcorper lectus. Aliquam ut diam imperdiet, placerat est non, efficitur lacus. Ut eu egestas odio. Vivamus pellentesque tellus id dui bibendum aliquet. Vestibulum efficitur nibh lorem, sed consectetur dolor consequat in. Aliquam libero orci, sollicitudin non posuere et, sodales ac quam. Sed ipsum augue, pulvinar eu blandit et, facilisis at lacus. Fusce vel imperdiet enim, vel finibus arcu.
        </div>
    </div>
</body>
</html>