<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta charset="UTF-8">

    <style>
        .with-margin {

            margin-bottom: 10px;
            margin-left: 20px;
        }

    </style>

    <title>Error Report</title>
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <h2 class="text-center"> Smoking Status Error Report</h2>
            </div>
        </div>

        <div class="row">
          <div class="col" style="padding-left: 20px">
              <h3>Patient #ID</h3>
          </div>
        </div>

        <div class="row">
            <div class="col" style="padding-left: 20px">
                <h3>Misclassifications:</h3>
            </div>
        </div>

        <div class="row with-margin">
            <h4 class="inline-block" style="margin-right: 20px;">None
                <div class="btn-group" role="group" >
                    <button type="button" class="btn btn-secondary ">ID #1</button>
                    <button type="button" class="btn btn-secondary ">ID #2</button>
                    <button type="button" class="btn btn-secondary ">ID #3</button>
                </div>
            </h4>
        </div>

        <div class="row with-margin">
            <h4 class="inline-block">Non-Smoker
                <div class="btn-group" role="group" >
                    <button type="button" class="btn btn-secondary ">ID #1</button>
                    <button type="button" class="btn btn-secondary ">ID #2</button>
                    <button type="button" class="btn btn-secondary ">ID #3</button>
                </div>
            </h4>
        </div>
    </div>
</body>
</html>