<ul>
  <li  class="treeNode">
    <span class="item glyphicon glyphicon-folder-open">
    </span>
    C:

  </li>
  <ul>
    <li class="treeNode">
      <span class="item glyphicon glyphicon-folder-open">
      </span>
    My Documents
    </li>
    <ul>
      <li class="treeNode">
        <span class="item glyphicon glyphicon-file">
        </span>
        A.txt
      </li>
      <li class="treeNode">
       <span class="item glyphicon glyphicon-file">
        </span>
        B.txt
      </li>
    </ul>
    <li class="treeNode">
        <span class="item glyphicon glyphicon-folder-open">
        </span>
      My Videos
    </li>
    <ul>
      <li class="treeNode">
        <span class="item glyphicon glyphicon-file">
        </span>
        My Favourite Video.mpeg

      </li>
    </ul>
  </ul>
</ul>
