{% raw %}
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="stylesheets/styles.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/3.20.1/math.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-sanitize.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/theme-monokai.js"></script>
    <script src="javascripts/angular-recursion.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/DataService.js"></script>
    <script src="javascripts/LoaderService.js"></script>
    <script src="javascripts/ErrorController.js"></script>
    <script src="javascripts/RuleController.js"></script>
    <script src="javascripts/LoaderController.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="app" ng-controller="ErrorController as errorCtrl">
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="nav navbar-nav">
                <ul class="list-unstyled" style="max-width:20%">
                    <li>
                        <ul class="nav navbar-nav pagination" style="margin: 2px 0px;">
                            <li class="page-item">
                                <a href="#!/overview" style="min-width: 90px">
                                    <p align="center" style="margin: 0 0">
                                        Overview</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="nav navbar-nav pagination" style="margin: 2px 0px;">
                            <li class="page-item">
                                <a  href="#!/regexes" style="min-width: 90px">
                                    <p align="center" style="margin: 0 0">
                                        Regexes</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="nav navbar-nav pagination" style="margin: 2px 0px;">
                            <li class="page-item">
                                <a  href="#!/settings" style="min-width: 90px">
                                    <p align="center" style="margin: 0 0">
                                        Settings</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="nav navbar-nav pagination" style="margin: 2px 0px;">
                            <li class="page-item">
                                <a href= "http://localhost:3000/run/{{errorCtrl.data.var_name}}" style="min-width: 90px">
                                    <p align="center" style="margin: 0 0">
                                        Run
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="nav navbar-nav" style="padding-left:20px; max-width:80%">
                <div style="min-height: 40px; line-height: 40px;" ng-repeat="(class, colour) in errorCtrl.classes">
                    <div style="display: inline-block; position: relative; min-width: 100px; margin: auto; float: left;">{{class}}</div>
                    <!--<span class="page-item" ng-repeat="error in errorCtrl.errors[class]">-->
                    <!--1-->
                    <!--</span>-->
                    <ul style="display: inline-block; margin: 0; vertical-align: middle;"class="nav navbar-nav pagination">
                        <li class="page-item {{errorCtrl.getIdInfo(error).recurring ? 'recurring' : 'not-recurring'}}" ng-repeat="error in errorCtrl.errors[class]" >
                            <a ng-href="#!/view" ng-click="errorCtrl.setSelected(error); errorCtrl.getSelectedData()" style="background: {{errorCtrl.classes[errorCtrl.getIdInfo(error).pred]}}">{{error}}</a>
                        </li>
                    </ul>

                </div>
                <!--<ul class="list-unstyled">-->
                <!--<li style="display: block" ng-repeat="(class, colour) in errorCtrl.classes">-->
                <!--<div style>-->
                <!--<p style="display: inline-block">{{class}}</p>-->
                <!--<ul style=""class="nav navbar-nav pagination">-->
                <!--<li class="page-item {{errorCtrl.getIdInfo(error).recurring ? 'recurring' : 'not-recurring'}}" ng-repeat="error in errorCtrl.errors[class]" >-->
                <!--<a ng-href="#!/view" ng-click="errorCtrl.setSelected(error); errorCtrl.getSelectedData()" style="background: {{errorCtrl.classes[errorCtrl.getIdInfo(error).pred]}}">{{error}}</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</li>-->

                <!--</ul>-->
            </div>
            <!-- Show legend -->
            <div class="nav navbar-nav navbar-right" style="padding-top:5px;">
                <div class="nav navbar-nav">
                    <p ng-repeat="(class, colour) in errorCtrl.classes"align="right" style="padding: 1px 1px">{{class}}: </p>
                </div>
                <div class="nav navbar-nav navbar-right" style="padding-right: 20px">
                    <p ng-repeat="(class, colour) in errorCtrl.classes" class="rounded" style="border: 1px solid #000; border-radius: 5px; padding: 10px 10px; background-color:{{colour}}; max-height: 10px; min-width: 10px; max-width: 10px"></p>
                </div>
            </div>
        </div>
    </nav>
    <div ng-view></div>
</div>
</body>
</html>
{% endraw %}
