{% raw %}
<div>
    <h1 align="center">RegexNLP</h1>
</div>
<h3>Project Settings</h3>
    <b>Variable:</b> {{errorCtrl.data["var_name"]}}<br/><br/>
    <div class="row vertical-align-flex">
        <div class="col-xs-1">
            <span>Data:</span>
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="Text input">
                <span ng-click="" id="open-data-folder" class="btn input-group-addon">
                    <span class="glyphicon glyphicon-folder-open"></span>
                </span>
            </div>
        </div>
    </div><br/>
    <div class="row vertical-align-flex">
        <div class="col-xs-1">
            <span>Labels:</span>
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="Text input">
                <span ng-click="" id="open-labels-folder" class="btn input-group-addon">
                    <span class="glyphicon glyphicon-folder-open"></span>
                </span>
            </div>
        </div>
    </div><br/>
{% endraw %}
